<!doctype html>
<html lang="en"
	th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title th:text="${loggedInUser.name} + ' | ALL CONTACTS' "></title>
</head>
<body>


	<div id="content">

		<!-- if user is logged in side bar-->
		<div th:if="${loggedInUser}">
			<div th:replace="~{user/sidebar :: sidebar}"></div>
		</div>

		<div class="sm:pl-64 pt-20">
			<div class="">
				<h1 class="text-5xl text-center">ALL CONTACTS</h1>
				<p class="text-center">List of all contacts</p>


				<div class="contact_container pt-5 ml-3 mr-3">


					<!-- table -->


					<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
					
					<div th:replace="~{message :: messageBox}"></div>

						<form th:object="${contactSearchForm}"
							th:action="@{'/user/contacts/search'}">
							<div
								class="flex space-x-3 pt-5 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">


								<!-- select box -->
								<div>
									<select id="field" name="field" th:field="*{field}"
										class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
										<option selected value="">Select Field</option>
										<option value="name">Name</option>
										<option value="phone">Phone</option>
										<option value="email">Email</option>

									</select>
								</div>


								<label for="table-search" class="sr-only">Search</label>
								<div class="relative">
									<div
										class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
										<svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
											aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
											fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="2"
												d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
									</div>
									<input type="text" id="keyword" name="keyword"
										th:field="*{keyword}"
										class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
										placeholder="Search for users">
								</div>

								<!-- button -->
								<button type="submit"
									class="px-3 py-2 bg-gray-800 text-white rounded">search</button>
							</div>
						</form>


						<table
							class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
							<thead
								class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
								<tr>

									<th scope="col" class="px-6 py-3">Name</th>
									<th scope="col" class="px-6 py-3">Phone</th>
									<th scope="col" class="px-6 py-3">links</th>
									<th scope="col" class="px-6 py-3">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="contact : ${pagecontacts.getContent()}"
									th:object="${contact}"
									class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

									<th scope="row"
										class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
										<img class="w-10 h-10 rounded-full"
										onerror="this.src='/images/default_profile.png'"
										th:src="@{*{picture}}"
										src="/docs/images/people/profile-picture-1.jpg"
										alt="Jese image">
										<div class="ps-3">
											<div class="text-base font-semibold" th:text="*{name}">Neil
												Sims</div>
											<div class="font-normal text-gray-500" th:text="*{email}">neil.sims@flowbite.com</div>
										</div>
									</th>
									<td class="px-6 py-4"><i class="fas fa-phone w-4 h-4"
										style="color: blue;"></i> <span th:text="*{phoneNumber}">0000000000</span>
									</td>
									<td class="px-6 py-4">
										<div class="flex items-center">
											<div th:if="*{favorite}" class="mr-1 w-6 h-6">
												<i class="fas fa-star" style="color: yellow;"></i>
											</div>

											<a th:href="@{*{websiteLink}}" target="_blank"> <i
												class="fas fa-globe w-6 h-6 mr-1" style="color: blue;"></i>

											</a> <a th:href="@{*{linkdInLink}}" target="_blank"> <i
												class="fab fa-linkedin w-6 h-6 ml-1" style="color: blue;"></i>
											</a>
										</div>
									</td>
									<td class="px-6 py-4">
									
									<!-- <a th:href="@{'/user/contacts/delete/'+${contact.id}}"
										class="font-medium text-blue-600 dark:text-blue-500 hover:underline w-6 h-6 mr-1">
											<i class="fas fa-trash" style="color: red;"></i>
									</a>  -->
									
									<button th:onclick="deleteContact([[${contact.id}]])"
										class="font-medium text-blue-600 dark:text-blue-500 hover:underline w-6 h-6 mr-1">
											<i class="fas fa-trash" style="color: red;"></i>
									</button> 
									
									
									<a th:href="@{'/user/contacts/edit/'+${contact.id}}"
										class="font-medium text-blue-600 dark:text-blue-500 hover:underline w-6 h-6 ml-1">
											<i class="fas fa-edit" style="color: green;"></i>
									</a>
									 <button  th:onclick="loadContactdata([[${contact.id}]])"
										class="font-medium text-blue-600 dark:text-blue-500 hover:underline w-6 h-6 ml-1">
											<i class="fas fa-eye" style="color: purple;"></i>
									</button></td>
								</tr>

							</tbody>
						</table>

						<!-- pagination -->
						<div class="pagination_container pt-5 pb-5 text-center">
							<nav aria-label="Page navigation example">

								<ul class="inline-flex -space-x-px text-base h-10">
									<li th:unless="${pagecontacts.first}"><a href="#"
										th:href="@{'/user/contacts?size='+${pageSize}+'&page='+${pagecontacts.number-1}}"
										class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
									</li>

									<li
										th:each="index : ${#numbers.sequence(0,pagecontacts.totalPages-1)}"><a
										href="#"
										th:href="@{'/user/contacts?size='+${pageSize}+'&page='+${index}}"
										th:class="${index == pagecontacts.number} ? 'bg-blue-400 flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' : 'bg-white flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
										class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span
											th:text="${index + 1}"></span></a></li>

									<li th:unless="${pagecontacts.last}"><a href="#"
										th:href="@{'/user/contacts?size='+${pageSize}+'&page='+${pagecontacts.number+1}}"
										class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
									</li>
								</ul>
							</nav>
						</div>
						<h2 class="text-5xl text-center bg-white p-4"
							th:if="${pagecontacts.empty}">No result found</h2>

					</div>


				</div>

			</div>

			<!-- including contact model-->
			<div th:replace="~{user/contact_modal :: contact_modal}"></div>
		</div>


	</div>


    <script th:src="@{'/js/contacts.js'}"></script>
	<script>
		console.log("All contacts page");
	</script>
</html>